<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Video Indexer Desk
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/email-demo/">Email Demo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/">About</a>
            </li>
        </ul>

        {{!-- Upload Form --}}
        <div class="">
            <div class="row">
                <div class="col-8">
                    <input type="file" id="file-input" multiple style="display: none;" />
                    <button class="btn btn-primary" id="select-button"><i class="fas fa-upload"></i></button>
                </div>
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                    aria-labelledby="uploadingProgressModal" id="uploadingProgressModal" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="col-12 p-0">
                                <div class="d-none" id="status-container">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" id="status-progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{{!-- Implemented based on: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-javascript-client-libraries-v10 --}}
<script>
    let url = "{{{uploadURL}}}";
    const containerURL = new azblob.ContainerURL( url,
        azblob.StorageURL.newPipeline(new azblob.AnonymousCredential));
    initUploader(containerURL);
</script>